seed: 42
network:
  _target_: my_models.JEPAStructure
  input_dim: 128


training:
  learning_rate: 1e-3
  weight_decay: 1e-5
  max_epochs: 100
  optimizer:
    _target_: torch.optim.AdamW
  scheduler:
    _target_: torch.optim.lr_scheduler.CosineAnnealingLR
    T_max: 100


trainer:
  max_epochs: ${training.max_epochs}
  accelerator: "gpu"
  devices: 1
  log_every_n_steps: 10

datamodule:
  _target_: my_data.GraphDataModule
  batch_size: 32