seed: 42

# Network configuration
network:
  _target_: src.models.jepa.GraphJepa
  encoder:
    _target_: src.models.encoder.GraphGcnEncoder
    in_channels: 21  # Matches dataset feature dimension
    out_channels: 64
    alpha: 0.5
    num_layers: 3
  predictor:
    _target_: src.models.jepa.CrossAttentionPredictor
    hidden_dim: 64
    pos_dim: 3
    num_heads: 4
    dropout: 0.1
 
  ema: 0.996
  

# Training configuration
training:
  learning_rate: 1e-3
  weight_decay: 1e-5
  max_epochs: 10
  optimizer:
    _target_: torch.optim.AdamW
    weight_decay: ${training.weight_decay}
  scheduler:
    _target_: torch.optim.lr_scheduler.CosineAnnealingLR
    T_max: ${training.max_epochs}

# Trainer configuration
trainer:
  max_epochs: ${training.max_epochs}
  accelerator: "gpu"
  devices: 1
  log_every_n_steps: 10
  

# DataModule configuration
datamodule:
  _target_: src.data_utils.datamodule.GraphDataModule
  dataset:
    _target_: src.data_utils.datamodule.GraphDataSet
    path: "/home/eugen/Desktop/CodeWork/Projects/Diplom/notebooks/notebooks/graph_dataset"
  batch_size: 512
  num_workers: 2
  seed: ${seed}
  ratio: [0.7, 0.2, 0.1]
