seed: 42

# Network configuration
network:
  _target_: src.models.jepa.LeJEPA
  encoder:
    _target_: src.models.encoder.GraphGcnEncoder
    in_channels: 21  # Matches dataset feature dimension
    out_channels: 64
    num_layers: 6
  predictor:
    _target_: src.models.jepa.CrossAttentionPredictor
    hidden_dim: 64
    pos_dim: 3
    num_heads: 2
    dropout: 0.1
  lambd: 0.1
  num_slices: 128
  ema: 0.996
  

# Training configuration
training:
  learning_rate: 1e-2
  weight_decay: 1e-5
  max_epochs: 10
  optimizer:
    _target_: torch.optim.AdamW
    weight_decay: ${training.weight_decay}
  scheduler:    # Для соотвествия с экспериментом
    _target_: torch.optim.lr_scheduler.CosineAnnealingLR
    T_max: ${training.max_epochs}

# Trainer configuration
trainer:
  max_epochs: ${training.max_epochs}
  accelerator: "gpu"
  devices: 1
  log_every_n_steps: 10
  

# DataModule configuration
datamodule:
  _target_: src.data_utils.datamodule.GraphDataModule
  dataset:
    _target_: src.data_utils.datamodule.GraphDataSet
    path: "/home/eugen/Desktop/CodeWork/Projects/Diplom/notebooks/notebooks/graph_dataset"
    stats_path: '/home/eugen/Desktop/CodeWork/Projects/Diplom/notebooks/GIT_Graph_refactor/data/stats/'
  batch_size: 32
  num_workers: 2
  knn: -1
  mask_ratio: 0.01
  seed: ${seed}
  ratio: [0.7, 0.2, 0.1]


representation:
  enabled: true
  batch_size: 32
  datasets:
    - path: "/home/eugen/Desktop/CodeWork/Projects/Diplom/notebooks/notebooks/graph_dataset_output_ab"
      label: 0
    - path: "/home/eugen/Desktop/CodeWork/Projects/Diplom/notebooks/notebooks/graph_dataset_output_wt"
      label: 1
  # Доступные эстиматоры: rank_me, isotropy, uniformity, cluster, recall, alignment
 
  estimators:
    - rank_me
    - isotropy
    - uniformity

  stats_path: "/home/eugen/Desktop/CodeWork/Projects/Diplom/notebooks/GIT_Graph_refactor/data/stats_9009/"